/* Add here all your css styles (customizations) */
div.flash {
    opacity:0.9;
    font-size:15px;
    text-align:center;
    width:100%;
    top:-30px;
    line-height:40px;
    position:absolute;
    height:40px;
    color:#ffffff
}
div.message {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#ffffff;
    font-size: 15px;
    line-height: 30px;
}
div.success {
    background-color: #00ab5f;
}
div.failed {
    background-color: #c9302c;
}

div.purchase {
    background-color: #dddddd
}

.bottombar > li {  display: inline;  }
.bottombar > li > a {  color: #ffffff; }

.bottombar > li.bottombar-devider {
    top: -1px;
    padding: 0;
    font-size: 8px;
    position: relative;
    margin: 0 9px 0 5px;
    font-family: Tahoma;
    border-right: solid 1px #bbb;
}

a.help_zip {  color: #ef9e0f;  }
a.help_zip:hover {  color: #ef9e01;  }

li.list-group-item a { color: #fff; }
li.list-group-item.list-toggle:after { color: #fff; }


@media all and (max-width:991px) {
    div.collapse.navbar-collapse.navbar-responsive-collapse { margin-top: 25px;}
    input.multi.with-preview.MultiFile-applied[type="file"] { width:125px !important; }
    div.modal-dialog.modal-lg { width:750px !important; }
    .hide-sm,
    .hide-xs { display: none !important; }
}

@media all and (max-width:500px) {
    div.navbar-header a.navbar-brand img#logo-header {
        width:110px !important;
        margin-top:-5px !important;
    }

    label.time_donation,
    label.time_search {
        width:270px !important;
    }
    input.multi.with-preview.MultiFile-applied[type="file"] {
        width:125px !important;
    }
    div.smartphone_no_margin {
        margin-left:0px !important;
        margin-right:0px !important;
    }
    td.begin_date_time {
        width:300px !important;
        float:left !important;
    }
    td.end_date_time {
        width:300px !important;
        float:left !important;
    }
    div.modal-dialog.modal-lg {
        width:320px !important;
    }
}

@media all and (min-width:300px) and (max-width:314px) {
    div.navbar-header a.navbar-brand img#logo-header {
        width: 90px !important;
        margin-top: -5px !important;
    }
}

@media all and (min-width:315px) and (max-width:329px) {
    div.navbar-header a.navbar-brand img#logo-header {
        width: 100px !important;
        margin-top: -5px !important;
    }
}


a .purchase {
    color: #009D00;
    font-size: 16px;
}

/* Vertical Offset Top */
.vert-offset-top-12{
        margin-top: 12em;
}
.vert-offset-top-11{
        margin-top: 11em;
}
.vert-offset-top-10{
        margin-top: 10em;
}
.vert-offset-top-9{
        margin-top: 9em;
}
.vert-offset-top-8{
        margin-top: 8em;
}
.vert-offset-top-7 {
        margin-top: 7em;
}
.vert-offset-top-6{
        margin-top: 6em;
}
.vert-offset-top-5{
        margin-top: 5em;
}
.vert-offset-top-4{
        margin-top: 4em;
}
.vert-offset-top-3{
        margin-top: 3em;   
}
.vert-offset-top-2{
        margin-top: 2em;
}
.vert-offset-top-1{
        margin-top: 1em;
}
.vert-offset-top-0{
        margin-top: 0em;
}

/* Vertical Offset Bottom */
.vert-offset-bottom-12{
        margin-bottom: 12em;
}
.vert-offset-bottom-11{
        margin-bottom: 11em;
}
.vert-offset-bottom-10{
        margin-bottom: 10em;
}
.vert-offset-bottom-9{
        margin-bottom: 9em;
}
.vert-offset-bottom-8{
        margin-bottom: 8em;
}
.vert-offset-bottom-7{
        margin-bottom: 7em;
}
.vert-offset-bottom-6{
        margin-bottom: 6em;
}
.vert-offset-bottom-5{
        margin-bottom: 5em;
}
.vert-offset-bottom-4{
        margin-bottom: 4em;
}
.vert-offset-bottom-3{
        margin-bottom: 3em;
}
.vert-offset-bottom-2{
        margin-bottom: 2em;
}
.vert-offset-bottom-1{
        margin-bottom: 1em;
}
.vert-offset-bottom-0{
        margin-bottom: 0em;
}

input.form-control[readonly="readonly"]:hover {
    cursor: pointer
}

@media all and (max-width:991px) and (min-width:768px) {
    div.navbar.navbar-default .container .row .col-xs-12 .navbar-header { margin-bottom: 25px; }

    form#searches_sidebar_form input[name="searches_sidebar_input"],
    form#donations_sidebar_form input[name="donations_sidebar_input"] {
        width: 100% !important;
    }
    form#searches_sidebar_form button.searches_sidebar_search,
    form#donations_sidebar_form button.donations_sidebar_search {
        margin-left: 0px !important;
        width: 100% !important;
        margin-top:10px !important;
    }
    ul.keywords_sidebar { padding-left: 0px; }
}
@media all and (max-width:767px) {
    div.navbar.navbar-default .container .row .col-xs-12 .navbar-header { margin-top: 15px; margin-bottom: 15px; }

    div.searches_sidebar_row,
    div.donations_sidebar_row {
        margin-left: 0px;
        margin-right: 0px
    }
    form#searches_sidebar_form input[name="searches_sidebar_input"],
    form#donations_sidebar_form input[name="donations_sidebar_input"] {
        width: 100% !important;
    }
    form#searches_sidebar_form button.searches_sidebar_search,
    form#donations_sidebar_form button.donations_sidebar_search {
        margin-left: 0px !important;
        width: 100% !important;
    }
    a.donations_details_anchor {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    a.searches_details_anchor {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    div.donations_description { margin-top: 15px; }
    div.related_searches { padding-left: 15px !important; }
    div.related_donations { padding-left: 15px !important; }
    div.related_searches div.headline { text-align: left !important; }
    div.related_donations div.headline { text-align: left !important; }
    button.reset_submit,
    button.login_submit { width: 100% !important; }
}

/*MAINpage Styling*/

.callforhelp {
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-color: #D90016; 
    border-style: solid; 
    border-width: 6px; 
    font-size: 1.3em; 
    color: white; 
    box-shadow: 5px 5px 10px grey;
}

@media all and (max-width:768px) and (min-width:586px) {
    div.header { height: 150px; }
}
@media all and (max-width:585px) {
    div.header { height: 200px; }
}

.callforhelp_title {
    padding: 0 5 5 5; 
    text-align: center;
    height: 40px
}

#alertcontent {
    background-color: none; 
    color: black;
}

#alerttitle {
    padding: 5px; 
    text-align: center;
}

img.img-responsive {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-img > .overflow-hidden {
    height:249px;
    width:100%;
}

/*HEADER Region*/

a.navbar-brand {
    height:10%;
    top:5%;
    padding-top: 27px;
    margin-top: -27px;
    margin-bottom: -7px;
}

button.navbar-toggle {
    z-index:9999;
}

/*HEADER Menü*/

.navbar.navbar-default .container .collapse.in {
    background-color: rgb(255, 255, 255);
    top: -40px;
    z-index: 1;
    margin: none !important;
}

.collapsing {
    background-color: rgb(255, 255, 255);
    top: -15px;
    z-index: 1;
    margin: none !important;
}

@media all and (max-width:758px) {

    select[name="branches_select"]{
        margin-top:35px;
    }

}