<script src="/js/jquery.tagsinput.js"></script>
<script src="/js/jquery.autocomplete.js"></script>
<script src="/js/jquery.MultiFile.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?= $this->Flash->render() ?>
        <?= $this->Form->create($search, ['id' => 'new_form', 'enctype' => 'multipart/form-data']) ?>
        <div class="row">
            <div class="col-md-6">
                <div class="headline"><h2>Gesuch aufgeben</h2></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <?= $this->Form->checkbox(__('time_checkbox'), ['label' => false, 'id' => 'time_checkbox']) ?><label class="time_search" style="margin-left: 10px;margin-top: 2px">Es wird Zeit gesucht? Dann setze im Kästchen ein Häkchen.</label>
            </div>
        </div>
        <div class="row">
            <div id="time_div" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-0" style="margin-left:15px;display:none">
                <br/>
                <table style="width:100%" id="time_table" cellpadding="5"></table>
                <br/><a class="btn btn-primary add_more_times" style="margin-bottom:10px"><i class="fa fa-plus"></i>&nbsp;Weitere Zeitangabe hinzufügen</a>
                <br/><a class="btn btn-u delete_last_time"><i class="fa fa-minus"></i>&nbsp;Letzte Zeitangabe entfernen</a>
                <br/>
                <br/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-7 col-md-offset-0">
                <label>Gebe eine kurze Beschreibung dieses Gesuchs ein [maximal 64 Zeichen]</label><br/>
                <?= $this->Form->input(__('title'), ['label' => false, 'id' => 'title', 'class' => 'form-control']) ?>
            </div>
        </div>
        <br/>
        <?php
        if (sizeof($addresses_array) > 1) {
            ?>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <select name="addresses" id="select_addresses" class="form-control">
                        <?php
                        foreach ($addresses_array as $key => $address) {
                            ?>
                            <option value="<?= $key ?>"><?= $address ?></option>
                        <?php
                        }
                        ?>

                    </select>
                </div>
            </div>
            <br/>
        <?php
        }
        ?>
        <div class="row">
            <div class="col-md-3">
                <label>Postleitzahl</label><br/>
                <?= $this->Form->input(__('zip'), ['label' => false, 'class' => 'form-control', 'value' => isset($standard_address) && strlen($standard_address->zip)>0 ? $standard_address->zip : '']) ?>
            </div>
            <div class="col-md-5">
                <label>Stadt [wird automatisch ausgefüllt]</label><br/>
                <?= $this->Form->input(__('city'), ['label' => false, 'class' => 'form-control', 'disabled' => 'disabled',
                    'value' => isset($standard_address) && strlen($standard_address->city)>0 ? $standard_address->city : '']) ?>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8 col-md-offset-0">
                <label>Hier hast du die Möglichkeit dieses Gesuch ausführlicher zu beschreiben:</label>
                <?= $this->Form->input(__('description'), ['label' => false, 'id' => 'description', 'class' => 'form-control', 'style' => 'max-width:555px']) ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-0">
                <p id="keywords_separator"></p>
                <div id="keywords_div" class="row" style="display: none">
                    <div class="col-md-12 col-md-offset-0">
                        <b>Schlagwörter:</b> <p id="keywords_paragraph"></p>
                        <input name="keywords" id="keywords" />
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <label>Hier hast du die Möglichkeit Bilder hochzuladen:</label><br/>
                <?= $this->Form->file(__('uploads.'), ['accept' => 'gif|jpg|png', 'data-maxfile' => '4096', 'class' => 'multi with-preview', 'type' => 'file', 'multiple' => true]) ?>
                <p id="rights_uploads" style="display:none;margin-top:20px"><input type="checkbox" name="rights" style="display:none;margin-top:0px;margin-right:12px" />Ich besitze alle Rechte an den hochgeladenen Bildern</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="headline"><h2>Kontaktdaten</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-right:20px">
                <label>E-Mail-Adresse</label><br/>
                <?= $this->Form->input(__('email'), ['label' => false, 'class' => 'form-control', 'value' => isset($current_user) && strlen($current_user->email)>0 ? $current_user->email : '']) ?>
            </div>
            <div class="col-md-3">
                <label>Telefonnummer</label><br/>
                <?= $this->Form->input(__('phone'), ['label' => false, 'class' => 'form-control', 'value' => isset($current_user) && strlen($current_user->phone)>0 ? $current_user->phone : '']) ?>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <label>Straße und Hausnummer</label><br/>
                <?= $this->Form->input(__('street'), ['label' => false, 'class' => 'form-control', 'value' => isset($standard_address) && strlen($standard_address->street)>0 ? $standard_address->street : '']) ?>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn-u submit_new_form">Gesuch jetzt aufgeben&nbsp;<i class="fa fa-check"></i></button>
                <?= $this->Form->hidden(__('role')) ?>
                <?= $this->Form->hidden(__('user_id')) ?>
                <?= $this->Form->hidden(__('url_title')) ?>
                <?= $this->Form->hidden(__('address_id')) ?>
                <?= $this->Form->hidden(__('category')) ?>
            </div>
        </div>
        <?= $this->Form->end() ?>
    </div>
</div>

<script type="text/javascript" src="/js/add_helper.js"></script>