<?php $this->set('title', '404 - Seite nicht gefunden'); ?>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
    <h3>Diese Seite wurde nicht gefunden.</h3>
    <br /> <a class="btn btn-u" href="/">&nbsp;Zur&uuml;ck zur Startseite</a></div>